<h1>New ingredients_recipes_quantities</h1>

<% form_for(@ingredients_recipes_quantities) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ingredients_recipes_quantities_path %>
