<% @page_title = "DrinkRobot.com - Browse"%>

<div id="browse"> 
<div class="toolbar"> 
    <h1>Drink Recipes</h1> 
    <a href="/" class="back">Back</a> 
</div> 

<div id="recipes">
  <% if @recipes.length == 0 %>
		<p>No Results Found</p>
	<% else %>
		<%= will_paginate @recipes %>
		<br/>
		<ul class="edgetoedge"> 
			<% firstchar = "" %>
			<% for recipe in @recipes %>
				<% if (recipe.name[0] != firstchar) %>
					<li class="sep"><%= recipe.name[0].capitalize %></li> 
				<% end %>
				<li><%= link_to h(recipe.name), recipe %></li> 
			<% end %>
			<br/>
		</ul>
	<% end %>

</div>



    <li class="sep">F</li> 
    <li><a href="#">Flintstone, <em>Fred</em></a></li> 
    <li><a href="#">Flintstone, <em>Pebble</em></a></li> 
    <li><a href="#">Flintstone, <em>Wilma</em></a></li> 
    <li class="sep">J</li> 
    <li><a href="#">Jetson, <em>Elroy</em></a></li> 
    <li><a href="#">Jetson, <em>George</em></a></li> 
    <li><a href="#">Jetson, <em>Jane</em></a></li> 
    <li><a href="#">Jetson, <em>Judy</em></a></li> 
    <li class="sep">R</li> 
    <li><a href="#">Rubble, <em>Bambam</em></a></li> 
    <li><a href="#">Rubble, <em>Barney</em></a></li> 
    <li><a href="#">Rubble, <em>Betty</em></a></li> 
 
</div> 
