<% @page_title = "DrinkRobot.com - Search"%>
<div>
<div class="toolbar"> 
    <h1>Search Results</h1> 
    <a href="/" class="backHome">Back</a> 
</div> 
<div id="recipes">
  <% if @recipes.length == 0 %>
		<p>No Results Found</p>
	<% else %>
		<%= will_paginate @recipes %>
		<br/>
		<ul class="edgetoedge"> 
			<% firstchar = "" %>
			<% for recipe in @recipes %>
				<% if (!recipe.name.titleize[0].starts_with?(firstchar) || !recipe.name.titleize[0].starts_with?('The ') %>
					<li class="sep"><%= recipe.name.titleize[0].chr %></li> 
					<% firstchar = recipe.name.titleize[0].chr %>
				<% end %>
				<li><%= link_to h(recipe.name), recipe %></li> 
			<% end %>
			<br/>
		</ul>
	<% end %>
</div>
</div>
