<% @page_title = "DrinkRobot.com - About"%>

<h2>About DrinkRobot&#0153;</h2>

<p>
DrinkRobot was created by <strong>Kyle Powers, Katie Macias, Cole Malmberg,</strong> 
and <strong>Xin Guo</strong> as a class project in Human Computer Interaction. 
DrinkRobot is a free service, and will always be that way. If you want to say thanks, 
<img name="drink" src="/images/drink_empty.png" /> 
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HUVGH9FGSXAJQ" target="blank" onMouseOver="drink.src='/images/drink.png'" onMouseOut="drink.src='/images/drink_empty.png'"> 
buy me a drink!
</a>
</p>

<div style="clear:both;padding-bottom:20px;width:100%;"></div>

<div style="position:relative;float:left;">
	<h2>Technology</h2>
	<div style="float:left;margin-right:-100px;">
		<%= image_tag "rails.png", :width => 200 %> <br/>
		<span style="margin-left:125px;">
			<a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, 
			<a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a>, 
			and <a href="http://jquery.com/" target="_blank">jQuery</a>.
			</span>
	</div>
	<div style="float:left;">
		<br/>
		<%= image_tag "postgresql.png", :width => 125 %> <br/><br/>
		<%= image_tag "jquery.png", :width => 200 %>
	</div>
</div>

<div style="position:relative;float:left;padding-left:200px;">
	<h2>Hosting</h2>
	<div style="float:left;margin-right:-75px;">
		<a href="http://www.heroku.com/" target="_blank" style="border:none;"><%= image_tag "heroku.png", :width => 200 %></a><br/><br/>
		<span>Ruby on Rails hosting provided by <a href="http://www.heroku.com/" target="_blank">Heroku.com</a></span>
	</div>
</div>

<div style="clear:both;padding-bottom:20px;width:100%;"></div>
<h2>What about that awesome robot?</h2>

<p>
Credit for the robot character (Robby Robot) goes to Luca Cattivelli. Check out his other kickass artwork at
<a href="http://www.coroflot.com/chaosboy_industry" target="_blank">http://www.coroflot.com/chaosboy_industry</a>.
</p>

<br/><br/><br/>
