<div id="search"> 
<div class="toolbar"> 
    <h1>Drink Search</h1> 
    <a href="#" class="back">Back</a> 
</div> 
<form action="/search/recipes/name" method="post" id="searchForm"> 
    <ul class="edit rounded"> 
        <li><input type="text" name="recipe[name]" placeholder="Drink Name" id="recipe_name" /></li> 
        <li><input type="submit" name="submit" value="Search" id="recipe_submit" class="greenButton" target="_webapp"/></li> 
        <li><a href="#" style="margin: 10px;" class="greenButton submit" target="_webapp" onClick="document.searchForm.submit();return false;">Search</a></li>
    </ul> 
</form> 
</div> 
<div id="home" class="current"> 
<div class="toolbar"> 
    <h1>DrinkRobot</h1>
    <% if user_signed_in? %>  
		<%= link_to "Sign Out", destroy_user_session_path, :class => 'button slideup' %>
	<% else %>  
		<%= link_to "Sign In", new_user_session_path, :class => 'button slideup' %>
	<% end %>
</div> 
<ul class="rounded"> 
	<li class="forward"><a href="#search">Search for Drink</a></li>
	<li class="forward"><a href="/recipes" target="_webapp">Browse</a></li>
	<li class="forward"><a href="#about">About</a></li>
</ul> 
<h2>Options</h2> 
<ul class="rounded"> 
    <li class="arrow"><a href="#">Switch to full site</a></li> 
</ul> 
<ul class="individual"> 
    <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:kylepowers@gmail&#046;&#099;&#111;&#109;" target="_blank">Email</a></li> 
    <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HUVGH9FGSXAJQ" target="_blank">Donate</a></li> 
</ul> 
<div class="info"> 
    <p>DrinkRobot is a free service brought to you by <a href="http://www.kylepowers.com/">Kyle Powers</a>. Please enjoy and drink responsibly!</p> 
</div> 
</div> 

