<div id="search"> 
<div class="toolbar"> 
    <h1>Forms</h1> 
    <a href="#" class="back">Back</a> 
</div> 
<form> 
    <ul class="edit rounded"> 
        <li><input type="text" name="name" placeholder="Text" id="some_name" /></li> 
        <li><input type="text" name="search" placeholder="Search" id="some_name" /></li> 
        <li><input type="text" name="phone" placeholder="Phone" id="some_name"  /></li> 
        <li><input type="text" name="zip" placeholder="Numbers" id="some_name" /></li> 
        <li><textarea placeholder="Textarea" ></textarea></li> 
        <li>Sample Toggle <span class="toggle"><input type="checkbox" /></span></li> 
        <li> 
            <select id="lol"> 
                <optgroup label="Swedish Cars"> 
                    <option value ="volvo">Volvo</option> 
                    <option value ="saab">Saab</option> 
                </optgroup> 
                <optgroup label="German Cars"> 
                    <option value ="mercedes">Mercedes</option> 
                    <option value ="audi">Audi</option> 
                </optgroup> 
            </select> 
        </li> 
        <li><input type="password" name="some_name" value="iphonedelcopon" id="some_name" /></li> 
        <li><input type="checkbox" name="some_name" value="Hello" id="some_name" title="V8 Engine Type" /></li> 
        <li><input type="checkbox" name="some_name" value="Hello" checked="checked" id="some_name" title="V12 Engine Type" /></li> 
        <li><input type="radio" name="some_name" value="Hello" id="some_name" title="Only cars" /></li> 
        <li><input type="radio" name="some_name" value="Hello" id="some_name" title="Only motorbikes" /></li> 
    </ul> 
</form> 
</div> 
<div id="home" class="current"> 
<div class="toolbar"> 
    <h1>DrinkRobot</h1>
    <% if user_signed_in? %>  
		<%= link_to "Sign Out", destroy_user_session_path, :class => 'button slideup' %>
	<% else %>  
		<%= link_to "Sign In", new_user_session_path, :class => 'button slideup' %>
	<% end %>
</div> 
<ul class="rounded"> 
	<li class="forward"><a href="#search">Search for Drink</a></li>
	<li class="forward"><a href="/recipes#">Browse</a></li>
	<li class="forward"><a href="#about">About</a></li>
</ul> 
<h2>Options</h2> 
<ul class="rounded"> 
    <li class="arrow"><a href="#">Switch to full site</a></li> 
</ul> 
<ul class="individual"> 
    <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:kylepowers@gmail&#046;&#099;&#111;&#109;" target="_blank">Email</a></li> 
    <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HUVGH9FGSXAJQ" target="_blank">Donate</a></li> 
</ul> 
<div class="info"> 
    <p>DrinkRobot is a free service brought to you by <a href="http://www.kylepowers.com/">Kyle Powers</a>. Please enjoy and drink responsibly!</p> 
</div> 
</div> 

