<h4>Search by Ingredients</h4> 
<form action="" method="get" name="ingredients">
	<input type="text" id="tokenize" name="ingredients" /> <br/>
	<div style="padding-left:50px;">
		<input type="submit" name="submit" class="large button green" value="Find My Drinks" />
		<a href="/recipes/new" class="large button blue">New Drink Recipe</a>
		<a href="/recipes" class="large button blue">Browse Drinks</a>
	</div>
</form>
