<% @page_title = "DrinkRobot.com"%>

<section id="intro" style="padding-top:0px;">
    	
	<h2 class="intro">Find <strong>Alcoholic Drinks</strong> by <strong>Ingredients</strong><br/> 
    <span class="sub">I'm a robot, it's what I do!</span></h2>
    <div style="clear:both;"></div>
    <img src="/images/robot.png" alt="Robot" height="475px" width="466px" style="float:left;" />
	
	<blockquote class="oval-thought">
		Search By: <br/>
		<p style="line-height:12px;">&nbsp;</p>
		<a class="anchorLink super button green" href="#ingredients">Ingredients</a>
		&nbsp;or &nbsp;<a class="anchorLink super button green" href="#name">Drink Name</a>
	</blockquote>
			
</section>

<section id="ingredients">

	<h2 class="work">Search by Ingredients</h2>
		
	<div> 
        <form action="/search/ingredients/" method="get" name="ingredients"> 
            <input type="text" id="tokenize" name="ingredients" /> <br/> 
            <input type="submit" class="large button green" value="Find My Drinks" /> 
        </form> 
    </div>
			
</section>
		
<section id="name">

	<h2 class="about">Search by Drink Name</h2>
	
	<div>
		  <%= form_for :recipe, :url => { :controller => "recipes", :action => "search", :name => "name" }, :html => { :class => "styledform" } do |f| %>
			<%= f.error_messages %>
			<%= f.text_field :name %><br />
			<%= f.submit "Search", :class => 'super button green' %>
		  <% end %>
    </div>

</section>
<!--		
<footer>
	<ul>
		<li><a class="anchorLink" href="#contentcontainer">Back to the Top</a></li>
	</ul>
</footer>	
-->
