<section id="intro" style="padding-top:0px;">
    	
	<h2 class="intro">Find <strong>Alcoholic Drinks</strong> by <strong>Ingredients</strong>.<br/> 
    <span class="sub">I'm a robot, it's what I do!</span></h2>
    <br/><br/><br/><div style="clear:both;"></div>
	
	<p>
		Search By: <a class="anchorLink super button blue" href="#ingredients">Ingredients</a> 
		or <a class="anchorLink super button blue" href="#name">Drink Name</a>
	</p>
			
</section>

<section id="ingredients">

	<h2 class="work">Search by Ingredients</h2>
		
	<div> 
        <form action="" method="get" name="ingredients"> 
            <input type="text" id="tokenize" name="ingredients" /> <br/> 
            <input type="submit" name="submit" class="large button green" value="Find My Drinks" /> 
        </form> 
    </div>
			
</section>
		
<section id="name">

	<h2 class="about">Search by Drink Name</h2>
	
	<div> 
        <form action="" method="get" name="ingredients"> 
            <input type="text" id="tokenize" name="ingredients" /> <br/> 
            <input type="submit" name="submit" class="large button green" value="Search" /> 
        </form> 
    </div>

</section>
		
<footer>
	<ul>
		<li><a class="anchorLink" href="#contentcontainer">Back to the Top</a></li>
	</ul>
</footer>	
